configure
*.sw?
core
*.so
*.o
pkgIndex.tcl
Makefile
autom4te.cache
config.log
config.status
tags
last
/doc/*.n
/doc/type.md
/subprojects/.wraplock
/subprojects/packagecache
/subprojects/tcl
/subprojects/libtommath-1.3.0
